@import url(..//..//node_modules/normalize.css/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;700&family=Roboto+Mono:wght@400;700&display=swap");
.portfolio {
  padding: 74px 16px 88px; }
  @media (min-width: 768px) {
    .portfolio {
      max-width: 768px;
      margin: 0 auto; } }
  @media (min-width: 960px) {
    .portfolio {
      max-width: 100%;
      padding-bottom: 176px; } }
  .portfolio__cloud {
    position: absolute;
    left: calc(50% + 90px);
    top: -26px; }
  .portfolio__contact {
    border-radius: 64px;
    color: #fff;
    background: #4da8ff;
    display: inline-block;
    padding: 4px 24px;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    text-decoration: none; }
  .portfolio__description {
    text-align: center; }
    @media (min-width: 960px) {
      .portfolio__description {
        max-width: 786px;
        margin: 0 auto;
        position: relative; }
        .portfolio__description::before, .portfolio__description::after {
          width: 82.94px;
          height: 254.88px;
          content: "";
          display: block;
          position: absolute;
          top: 0; }
        .portfolio__description::before {
          background: url(../../src/pictures/left.svg);
          right: 100%; }
        .portfolio__description::after {
          background: url(../../src/pictures/right.svg);
          left: 100%; } }
  .portfolio__header {
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    color: #234361; }
    @media (min-width: 960px) {
      .portfolio__header {
        font-size: 32px;
        line-height: 40px; } }
  .portfolio__hello {
    display: none; }
    @media (min-width: 960px) {
      .portfolio__hello {
        display: block;
        background: #1070ca;
        color: #fff;
        padding: 16px 19px;
        border-radius: 16px;
        font-weight: bold;
        font-size: 32px;
        position: relative; }
        .portfolio__hello:after {
          content: "";
          position: absolute;
          top: 100%;
          left: 32px;
          display: block;
          width: 17.42px;
          height: 22.66px;
          background: url(../../src/pictures/Speech_cloud.svg); } }
  .portfolio__image {
    box-sizing: content-box;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 16px solid #f6f9fd; }
    @media (min-width: 960px) {
      .portfolio__image {
        width: 178px;
        height: 178px;
        border: 24px solid #f6f9fd; } }
  .portfolio__image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; }
    @media (min-width: 960px) {
      .portfolio__image-container {
        margin-bottom: 48px; } }
  .portfolio__link {
    font-weight: bold;
    color: #4da8ff;
    text-decoration: none; }
  .portfolio__paragraph {
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 48px; }
    @media (min-width: 960px) {
      .portfolio__paragraph {
        font-size: 20px;
        line-height: 40px;
        margin-bottom: 68px; } }
  .portfolio__special {
    color: #1070ca; }

.skills {
  background: #1070ca;
  color: #fff;
  padding: 64px 16px 88px; }
  @media (min-width: 960px) {
    .skills__columns {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 1184px;
      margin: 0 auto; } }
  .skills__header {
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    margin: 0 0 64px; }
    @media (min-width: 960px) {
      .skills__header {
        font-size: 48px;
        line-height: 56px; } }

.skills-list {
  font-style: normal;
  color: #dbeaf7;
  width: 288px;
  margin: 0 auto;
  list-style-type: none;
  line-height: 24px;
  padding: 0; }
  .skills-list__item {
    padding: 0 0 0 24px;
    margin: 0 0 16px;
    position: relative;
    font-size: 16px;
    line-height: 24px; }
    .skills-list__item:before {
      position: absolute;
      left: 0;
      top: 7px;
      display: block;
      content: "";
      width: 12px;
      height: 9px;
      background: url("../../src/pictures/small-tick-green.svg"); }
      .skills-list--blue .skills-list__item:before {
        background: url("../../src/pictures/small-tick-blue.svg"); }
      .skills-list--dot .skills-list__item:before {
        background: #dbeaf7;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        top: 11px;
        left: 5px; }

.skills-section {
  margin-top: 64px; }
  .skills-section__emoji {
    font-size: 64px;
    line-height: 64px;
    display: block;
    text-align: center; }
  .skills-section__header {
    font-weight: bold;
    font-size: 24px;
    line-height: 44px;
    text-align: center;
    margin: 16px 0 24px; }

.contact {
  background: #dbeaf7;
  padding: 64px 16px 88px; }
  @media (min-width: 960px) {
    .contact {
      padding-top: 80px; } }
  .contact__description {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    text-align: center; }
    @media (min-width: 960px) {
      .contact__description {
        font-size: 20px;
        line-height: 40pxpx; } }
  .contact__header {
    font-size: 36px;
    line-height: 48px;
    color: #234361;
    text-align: center;
    margin: 0; }
    @media (min-width: 960px) {
      .contact__header {
        font-size: 48px;
        line-height: 56px;
        margin-bottom: 40px; } }
  .contact__links {
    text-align: center; }
    @media (min-width: 960px) {
      .contact__links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 580px;
        margin: 128px auto 0; } }
  .contact__mail {
    border-radius: 64px;
    color: #fff;
    background: #4da8ff;
    display: inline-block;
    padding: 4px 24px;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    text-decoration: none; }

.socials {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 56px 64px; }
  @media (min-width: 960px) {
    .socials {
      margin: 0; } }
  .socials__item {
    margin: 0 12px; }
  .socials__link {
    padding: 0;
    width: 48px;
    height: 48px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgba(16, 112, 202, 0.15); }

@keyframes wave {
  0% {
    transform: rotate(-10deg); }
  50% {
    transform: rotate(10deg); }
  100% {
    transform: rotate(-10deg); } }

.hand {
  display: inline-block;
  animation: wave 1.25s ease-in-out infinite;
  transform-origin: center center; }

.projects {
  padding: 64px 16px 88px; }
  @media (min-width: 960px) {
    .projects {
      padding: 64px 16px 176px; } }
  .projects__description {
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    max-width: 786px;
    margin: 0 auto 46px; }
    @media (min-width: 960px) {
      .projects__description {
        font-size: 20px;
        line-height: 40px;
        margin-bottom: 128px; } }
  .projects__header {
    font-size: 36px;
    line-height: 48px;
    color: #234361;
    text-align: center;
    margin: 0 0 40px; }
    @media (min-width: 960px) {
      .projects__header {
        font-size: 48px;
        line-height: 56px; } }

.project {
  background: #212528;
  border-radius: 16px;
  overflow: hidden;
  color: #a3a3a3;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  font-size: Roboto Mono;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25); }
  @media (min-width: 960px) {
    .project {
      font-size: 16px;
      line-height: 24px; } }
  .project__circle {
    display: block;
    width: 8px;
    height: 8px;
    background: #464a4d;
    border-radius: 50%;
    margin-right: 8px; }
  .project__content {
    padding: 24px 16px; }
    @media (min-width: 960px) {
      .project__content {
        padding: 18px 48px 58px; } }
  .project__grid {
    display: grid;
    grid-template-columns: 102px 1fr;
    column-gap: 8px;
    margin: 0 0 8px 0; }
    @media (min-width: 960px) {
      .project__grid {
        grid-template-columns: 116px 1fr; } }
    .project__grid--description {
      margin-bottom: 24px; }
  .project__label {
    display: block;
    text-align: right;
    color: #808082;
    font-weight: normal; }
  .project__link {
    color: #14b5d0; }
  .project__title {
    font-weight: bold;
    font-size: 13px;
    line-height: 24px;
    color: #fff;
    margin-top: 24px; }
    @media (min-width: 960px) {
      .project__title {
        font-size: 16px;
        line-height: 24px; } }
  .project__window {
    height: 40px;
    background: #1e1e1e;
    display: flex;
    align-items: center;
    padding: 0 0 0 16px; }

.projects-grid {
  display: grid;
  column-gap: 24px;
  row-gap: 24px;
  max-width: 1184px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .projects-grid {
      grid-template-columns: 1fr 1fr; } }

html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font-family: Nunito;
  color: #425a70; }
