$textDark: #234361;
$console:#808082;
$lightConsole:#a3a3a3;
$linkConsole:#14b5d0;
$gray: #212528;
$darkGray: #1e1e1e;
$mediumGray:#464a4d;
$lightBlue:#4da8ff;
$lighterBlue:#dbeaf7;
$blue: #1070ca;
$text: #425a70;

$tablet: 768px;

$desktop: 960px;
