@import "./variables";
.contact {
    background: $lighterBlue;
    padding:64px 16px 88px;
    @media (min-width: $desktop) {
        padding-top: 80px;  
    }
    &__description {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 32px;
        text-align: center;
        @media (min-width: $desktop) {
            font-size:20px;
            line-height: 40pxpx;
          }

    }
    &__header {
        font-size: 36px;
        line-height: 48px;
        color: $textDark;
        text-align: center;
        margin: 0;
        @media (min-width: $desktop) {
            font-size: 48px;
            line-height: 56px;
            margin-bottom: 40px;
          }
    }
    &__links {
        text-align: center;
        @media (min-width: $desktop) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 580px;
            margin: 128px auto 0;
          }
    }
    &__mail {
        border-radius: 64px;
    color: #fff;
    background: $lightBlue;
    display: inline-block;
    padding: 4px 24px;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    text-decoration: none;
    
    }
}