@import "..//..//node_modules/normalize.css/normalize.css";
@import "portfolio.scss";
@import "skills.scss";
@import "variables";
@import "contact.scss";
@import "socials.scss";
@import "projects.scss";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;700&family=Roboto+Mono:wght@400;700&display=swap');

html{
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: Nunito;
  color: $text;
}

