@import "./variables";
.projects {
  padding: 64px 16px 88px;
  &__description {
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 46px;
  }
  &__header {
    font-size: 36px;
    line-height: 48px;
    color: $textDark;
    text-align: center;
  }
}
.project {
  background: $gray;
  border-radius: 16px;
  overflow: hidden;
  color:$lightConsole;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: $console;
  font-size: Roboto Mono;
  font-size: 13px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  &__circle {
    display: block;
    width: 8px;
    height: 8px;
    background: $mediumGray;
    border-radius: 50%;
    margin-right: 8px;
  }
  &__content {
    padding: 24px 16px;
  }
  &__grid {
    display: grid;
    grid-template-columns: 102px 1fr;
    column-gap: 8px;
  }
  &__label {
    display: block;
    text-align: right;
    color:$console;
    font-weight: normal;
  }
  &__link{
    color:$linkConsole;
  }
  &__title {
    font-weight: bold;
    font-size: 13px;
    line-height: 24px;
    color:#fff;
  }
  &__window {
    height: 40px;
    background: $darkGray;
    display: flex;
    align-items: center;
    padding: 0 0 0 16px;
  }
}
.projects-grid {
  display: grid;
  column-gap: 24px;
  row-gap: 24px;
@media (min-width: $tablet) {
  grid-template-columns: 1fr 1fr;
}

}