
@import "variables";
.skills {
  background: $blue;
  color: #fff;
  padding: 64px 16px 88px;
  &__header {
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
  }
}
.skills-list {
  font-style: normal;
  color: $lighterBlue;
  width: 288px;
  margin: 0 auto;
  list-style-type: none;
  line-height: 24px;
  padding: 0;

  &__item {
    padding: 0 0 0 24px;
    margin: 0 0 16px;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    &:before {
      position: absolute;
      left: 0;
      top: 7px;
      display: block;
      content: "";
      width: 12px;
      height: 9px;
      background: url("../../src/pictures/small-tick-green.svg");
      .skills-list--blue &{
        background: url("../../src/pictures/small-tick-blue.svg");
      }
      .skills-list--dot & {
        background: $lighterBlue;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        top:11px;
        left:5px;
      }
    }
  }
}
.skills-section {
  margin-top: 64px;
  &__emoji {
    font-size: 64px;
    line-height: 64px;
    display: block;
    text-align: center;
  }
  &__header {
    font-weight: bold;
    font-size: 24px;
    line-height: 44px;
    text-align: center;
    margin: 16px 0 24px;
  }
}
